# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/

# Logs
logs/
*.log

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Spark
spark-warehouse/

# OS files
.DS_Store
Thumbs.db